extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.users.id')
        th= t('views.users.firstName')
        th= t('views.users.lastName')
        th= t('views.users.email')
        th= t('views.users.createdAt')
    tbody
      each user in users
        tr
          td= user.id
          td= user.firstName
          td= user.lastName
          td= user.email
          td= formatDate(user.createdAt)
          td
            //- a(href=route('edit', { id: user.id }) class="btn.nav.link")= t('views.users.update')
            a(href=`/users/${user.id}/edit` class="btn.nav.link")= t('views.users.update')
          td
            a(action=`/users/${user.id}` method='delete' class="btn.nav.link")= t('views.users.delete')
          td
            +buttonTo(route('delete user', { id: user.id }), 'delete')(class="btn nav-link" value=t('views.users.delete'))
