include ../mixins/forms.pug

doctype html
html(lang="en")
  head
    title Hexlet Fastify Boilerplate
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
  main
    aside.flex-shrink-0.p-3.bg-white(style='width: 280px;')
        a.d-flex.align-items-center.pb-3.mb-3.link-dark.text-decoration-none.border-bottom(href='/')
          svg.bi.me-2(width='30' height='24')
            use(xlink:href='#bootstrap')
          span.fs-5.fw-semibold=t('appName')
        ul.list-unstyled.ps-0
          li.mb-1
            button.btn.btn-toggle.align-items-center.rounded.collapsed(data-bs-toggle='collapse' data-bs-target='#home-collapse' aria-expanded='true')
              | Home
            #home-collapse.collapse.show
              ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                li
                  a.link-dark.rounded(href=route('users'))= t('layouts.application.users')
          li.border-top.my-3
          li.mb-1
            button.btn.btn-toggle.align-items-center.rounded.collapsed(data-bs-toggle='collapse' data-bs-target='#account-collapse' aria-expanded='false')= t('layouts.application.account')
            #account-collapse.collapse
              ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
                if isAuthenticated()
                  li
                    a.link-dark.rounded
                      +buttonTo(route('session'), 'delete')(class="btn nav-link" value=t('layouts.application.signOut'))
                else
                  li
                    a.link-dark.rounded(href=route('newSession'))= t('layouts.application.signIn')
                  li
                    a.link-dark.rounded(href=route('newUser'))= t('layouts.application.signUp')
    div.d-flex.flex-column.min-vh-100(style='width: 100%; margin-top: 150px;')
      .container.wrapper.flex-grow-1

        each messages, type in reply.flash() || []
          each message in messages
            div.alert(class=`alert-${getAlertClass(type)}`)= message

        h1.my-4
          block header
        block content
footer
  .container.my-5.pt-4.border-top
    a(target="_blank" href="https://ru.hexlet.io") Hexlet
